@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
h1 {
  text-align: center;
  font-size: 40px;
  color: #ff0000;
  font: bold;
}
h2 {
  text-align: center;
  font-size: 30px;
  color: #ff0000;
  font: bold;
}
body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  background-image: url("Images/bg.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.door {
  height: 100%;
  width: 35%;
  background-image: url("Images/door.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 70%;
}
.door2 {
  height: 80%;
  width: 100%;
  display: flex;
}

.wall {
  height: 100%;
  width: 30%;
  display: block;
}
.note {
  height: 100%;
  width: 100%;
}
.wall2 {
  height: 20%;
  width: 100%;
}
.row {
  height: 33.3%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.row2 {
  height: 33.3%;
  width: 100%;
  display: flex;
}
.row3 {
  height: 33.3%;
  width: 100%;
  display: flex;
}
.box {
  height: 100%;
  width: 50%;
}
.box2 {
  height: 100%;
  width: 25%;
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.clickable {
  filter: brightness(85%);
}
.clickable:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
}
.purple {
  background-color: #523d64;
}
.green {
  background-color: #85e21f;
}
.orange {
  background-color: #da6339;
}
.gold {
  background-color: #d3a047;
}
.yellow {
  background-color: #ffeca7;
}
.black {
  background-color: #000000;
}
.slate {
  background-color: #1e171f;
}
.dark-grey {
  background-color: #303131;
}
.light-grey {
  background-color: #606060;
}

img {
  max-height: 70%;
  max-width: 70%;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 0.85;
}
.size_note {
  max-height: 80%;
  max-width: 80%;
}
.size_lock {
  max-height: 50%;
  max-width: 50%;
}

/* Don't cover the entire screen */
.modal-body {
  width: 80%;
  height: 70%;
  background-color: black;
  opacity: 1;
  margin: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 50px;
  font-weight: bold;
}
.modal-body2 {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  margin: 0;
}
.modal2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 1;
}
.modal-bodytext {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.85;
  margin: 0;
}
.modaltext {
  display: flex;
  position: fixed;
  top: 600px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 25%;
  background-color: #1c1c1c;
  opacity: 0.85;
}
.closetext {
  color: #aaaaaa;
  position: fixed;
  top: 560px;
  right: 1%;
  font-size: 50px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.transparent {
  opacity: 0.1;
}
